* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 700px;
    min-height: 600px;
    background: #e6eff3;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin:5% 0 2% 40%;
    color: navy;
    font-size: 24px;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    border-radius: 4px;
    border: 2px solid #1597E5;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.todo-text-input{
    width: 300px;
}
.todo-input label,input {
    margin: 5px 0px 5px 5px;
}
.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 0 5px 5px 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    background: #1597E5;
    color: #fff;
    text-transform: capitalize;
    margin-left: 20px;
    height: 25px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}


.todo-body{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow:2px 2px 2px 2px #999;
}


.todo-row{
    display: inline-flex;
    height: 30px;
    background: #ffffff;
    justify-content: space-between;
    width: 100%;
    padding:5px 10px 5px 10px;
}
.todo-row-Ongoing {
    background: #EAD0FF;
    padding: 1%;
    color: darkorchid;
}
.todo-row-Complete{
    background: #D2F38C;
    padding: 1%;
    color: darkgreen;
}

.todo-row-Pending {
    background: #FFF6AA;
    padding: 1%;
    color: darkorange;
}

.icons {
    display: inline;
    text-align: right;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    margin-left: 5px;
    color: red;
    font-size: 21px;
}

.edit-icon {
    color: blue;
    font-size: 21px;
}

@media screen and (max-width: 992px){
    *{
        font-size:12px;
    }

    .delete-icon {
        font-size:15px;
    }
    .edit-icon {
        font-size:15px;
    }
}

@media screen and (max-width: 770px){
    *{
        font-size:10px;
    }

    .delete-icon {
        font-size:15px;
    }
    .edit-icon {
        font-size:15px;
    }
}