
label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.login-signup-button button{
    height: 10%;
    width: 100%;
    margin-top: 5%;
    margin-left:2%;
}
.login-signup-link{
    font-size: 12px;
}

.gooleLogin{
    width:100%;
}

nav{
    background: #1597E5;
    padding: 50px;
}

.register-login-button{
    display: block;
    color:#1597E5;
    margin: 0 40% 0 40%;
    text-decoration: none;
}

